// Zurb Foundation default configuration
@import "../vendor/foundation/scss/foundation/variables";

//
// disables Zurb Foundation HTML classes
//
$include-html-classes: false;
$include-html-global-classes: true;
$include-html-type-classes: true;
